<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
       default-lazy-init="true">
       
	
	<bean id="dictionaryService" class="org.heed.openapps.dictionary.service.XmlDataDictionaryService" init-method="initialize">
		<property name="propertyService" ref="propertyService" />
		<property name="systemImports">
			<list>
				<value>resources/dictionaries/dictionary.xml</value>
				<value>resources/dictionaries/crawling.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- Bootstrap 
	<bean id="qnameConversion" class="org.heed.openapps.entity.service.data.QNameConversionService" init-method="initialize">
		<property name="cleanup" value="true" />
	</bean>
	-->
	<!-- Search Service -->	
	<bean id="defaultNodeIndexer" class="org.archivemanager.search.indexing.DefaultEntityIndexer">
		<property name="entityService" ref="entityService" />
		<property name="dictionaryService" ref="dictionaryService" />
	</bean>
	<bean id="repositoryEntityIndexer" class="org.archivemanager.search.indexing.RepositoryEntityIndexer">
		<property name="entityService" ref="entityService" />
		<property name="dictionaryService" ref="dictionaryService" />
	</bean>
	<bean id="notableFigureEntryIndexer" class="org.archivemanager.search.indexing.NotableFigureEntryIndexer">
		<property name="dictionaryService" ref="dictionaryService" />
	</bean>
	<bean id="indexingService" class="org.archivemanager.search.indexing.LuceneFacetedIndexingService" init-method="initialize">
		<!-- 
		<property name="dictionaryService" ref="dictionaryService" />
		<property name="propertyService" ref="propertyService" />
		<property name="homeDirectory" value="/data/index" />
		<property name="batchSize" value="10000" />
		<property name="batchDelay" value="60000" />
		<property name="queue">
			<bean class="org.heed.openapps.search.service.indexing.zoie.IndexingWorkQueue">
				<property name="indexingService" ref="indexingService" />
				<property name="silent" value="false" />
				<property name="threadCount" value="5" />
			</bean>
		</property>
		-->		
	</bean>	
	<bean id="archiveManagerDictionary" class="org.archivemanager.search.ArchiveManagerDictionary">
		<property name="plugins">
			<list>				
				<bean class="org.archivemanager.search.plugins.QNameDictionaryPlugin">
					<property name="entity" value="openapps_org_repository_1_0_item" />
					<property name="dictionaryService" ref="dictionaryService" />
				</bean>
				<bean class="org.archivemanager.search.plugins.SubjectDictionaryPlugin">
					<property name="searchService" ref="searchService" />
				</bean>
			</list>
		</property>
	</bean>
	<bean id="archiveManagerTokenizer" class="org.archivemanager.search.parsing.BaseTokenizer" init-method="initialize">
		<property name="dictionary" ref="archiveManagerDictionary" />
	</bean>
	<bean id="archiveManagerSearchParser" class="org.archivemanager.search.parsing.LuceneSearchQueryParser" init-method="initialize">
		<property name="defaultFields" value="freetext" />
		<property name="tokenizer" ref="archiveManagerTokenizer" />
		<property name="dictionary" ref="archiveManagerDictionary" />
	</bean>
	<bean id="archiveManagerEntityParser" class="org.archivemanager.search.parsing.LuceneEntityQueryParser" />
		
	<bean id="searchService" class="org.archivemanager.search.LuceneFacetedSearchService" init-method="initialize" destroy-method="shutdown">
		<property name="indexers">
			<map>
				<entry key="default" value-ref="defaultNodeIndexer" />
				<entry key="openapps_org_classification_1_0_entry" value-ref="notableFigureEntryIndexer" />
				<!-- 
				<entry key="openapps_org_classification_1_0_corporation" value-ref="repositoryEntityIndexer" />
				<entry key="openapps_org_classification_1_0_person" value-ref="repositoryEntityIndexer" />
				<entry key="openapps_org_classification_1_0_subject" value-ref="repositoryEntityIndexer" />				
				<entry key="openapps_org_repository_1_0_accession" value-ref="repositoryEntityIndexer" />
				<entry key="openapps_org_repository_1_0_location" value-ref="repositoryEntityIndexer" />
				-->
				<entry key="openapps_org_repository_1_0_collection" value-ref="repositoryEntityIndexer" />				
				<entry key="openapps_org_repository_1_0_item" value-ref="repositoryEntityIndexer" />
				<entry key="openapps_org_repository_1_0_printed_material" value-ref="repositoryEntityIndexer" />
				<entry key="openapps_org_repository_1_0_audio" value-ref="repositoryEntityIndexer" />
				<entry key="openapps_org_repository_1_0_financial" value-ref="repositoryEntityIndexer" />
				<entry key="openapps_org_repository_1_0_journals" value-ref="repositoryEntityIndexer" />
				<entry key="openapps_org_repository_1_0_legal" value-ref="repositoryEntityIndexer" />
				<entry key="openapps_org_repository_1_0_medical" value-ref="repositoryEntityIndexer" />
				<entry key="openapps_org_repository_1_0_memorabilia" value-ref="repositoryEntityIndexer" />
				<entry key="openapps_org_repository_1_0_miscellaneous" value-ref="repositoryEntityIndexer" />
				<entry key="openapps_org_repository_1_0_notebooks" value-ref="repositoryEntityIndexer" />
				<entry key="openapps_org_repository_1_0_photographs" value-ref="repositoryEntityIndexer" />
				<entry key="openapps_org_repository_1_0_research" value-ref="repositoryEntityIndexer" />
				<entry key="openapps_org_repository_1_0_video" value-ref="repositoryEntityIndexer" />
				<entry key="openapps_org_repository_1_0_scrapbooks" value-ref="repositoryEntityIndexer" />
				<entry key="openapps_org_repository_1_0_professional" value-ref="repositoryEntityIndexer" />
				<entry key="openapps_org_repository_1_0_manuscript" value-ref="repositoryEntityIndexer" />
				<entry key="openapps_org_repository_1_0_correspondence" value-ref="repositoryEntityIndexer" />
				<entry key="openapps_org_repository_1_0_artwork" value-ref="repositoryEntityIndexer" />
			</map>
		</property>
		<property name="plugins">
			<list>
				<bean class="org.archivemanager.search.navigation.DefaultBreadcrumbProvider" init-method="initialize">
					<property name="entityService" ref="entityService" />
					<property name="searchService" ref="searchService" />
				</bean>
				<bean class="org.archivemanager.search.CollectionSearchProvider" init-method="initialize">
					<property name="entityService" ref="entityService" />
				</bean>
				<bean class="org.archivemanager.search.ItemSearchProvider" init-method="initialize">
					<property name="entityService" ref="entityService" />
					<property name="searchService" ref="searchService" />
				</bean>
				<bean class="org.archivemanager.search.ArchiveSearchPlugin" init-method="initialize" />
				<bean class="org.archivemanager.search.NotableFigureEntrySearchPlugin" init-method="initialize" />
			</list>
		</property>	
	</bean>	
	
	<!-- Entity Service -->
	<bean id="defaultEntityExporter" class="org.heed.openapps.entity.DefaultExportProcessor">
		<property name="entityService" ref="entityService" />
		<property name="dictionaryService" ref="dictionaryService" />
	</bean>
	<bean id="accessionExporter" class="org.archivemanager.data.AccessionExportProcessor" />
	<bean id="collectionContentExportProcessor" class="org.archivemanager.data.CollectionContentExportProcessor">
		<property name="entityService" ref="entityService" />
		<property name="dictionaryService" ref="dictionaryService" />
	</bean>
	<!-- 
	<bean id="digitalObjectExporter" class="org.archivemanager.data.DigitalObjectExportProcessor">
		<property name="entityService" ref="entityService" />
		<property name="dictionaryService" ref="dictionaryService" />
		<property name="digitalObjectService" ref="digitalObjectService" />
	</bean>
	-->
	<bean id="permissionExporter" class="org.heed.openapps.entity.service.data.PermissionExportProcessor">
		<property name="entityService" ref="entityService" />
		<property name="dictionaryService" ref="dictionaryService" />
	</bean>
	<!-- 
	<bean id="filemakerXmlImporter" class="org.archivemanager.data.FilemakerXMLAccessionImportProcessor">
		<property name="name" value="Accession Filemaker Importer" />		
	</bean>
	<bean id="excelLocationImporter" class="org.archivemanager.data.ExcelLocationImportProcessor">
		<property name="name" value="Excel Location Importer" />
		<property name="entityService" ref="entityService" />
	</bean>
	<bean id="excelClassificationImporter" class="org.archivemanager.data.ExcelClassificationEntryImportProcessor">
		<property name="name" value="Excel Classification Entry" />
		<property name="searchService" ref="searchService" />
	</bean>
	<bean id="xmlContactImporter" class="org.archivemanager.data.XMLContactImportProcessor">
		<property name="name" value="XML Contact Importer" />
		<property name="entityService" ref="entityService" />
	</bean>
	-->
	<bean id="textCollectionImporter" class="org.archivemanager.data.DefaultTextCollectionImportProcessor">
		<property name="id" value="default" />
		<property name="name" value="Default Text" />
		<property name="entityService" ref="entityService" />
	</bean>
	<bean id="OAXMLCollectionImporter" class="org.archivemanager.data.OAXMLCollectionImportProcessor">
		<property name="id" value="oaxml" />
		<property name="name" value="OpenApps XML" />
		<property name="entityService" ref="entityService" />
		<property name="dictionaryService" ref="dictionaryService" />
	</bean>
	<bean id="excelCollectionImporter" class="org.archivemanager.data.ExcelCollectionImportProcessor">
		<property name="id" value="excel" />
		<property name="name" value="Excel" />
		<property name="entityService" ref="entityService" />
	</bean>
	<bean id="defaultPersistenceListener" class="org.heed.openapps.entity.service.DefaultEntityPersistenceListener">
		<property name="dictionaryService" ref="dictionaryService" />
		<property name="entityService" ref="entityService" />
		<property name="securityService" ref="securityService" />
		<property name="searchService" ref="searchService" />
		<property name="schedulingService" ref="schedulingService" />
		<property name="hash" value="SHA-1" />
	</bean>
	<bean id="documentPersistenceListener" class="org.archivemanager.data.DocumentPersistenceListener">
		<property name="dictionaryService" ref="dictionaryService" />
		<property name="entityService" ref="entityService" />
		<property name="searchService" ref="searchService" />
		<property name="securityService" ref="securityService" />
		<property name="schedulingService" ref="schedulingService" />
	</bean>
	<!-- 
	<bean id="contactPersistenceListener" class="org.archivemanager.data.ContactPersistenceListener">
		<property name="dictionaryService" ref="dictionaryService" />
		<property name="entityService" ref="entityService" />
	</bean>
	-->
	<bean id="repositoryModelEntityBinder" class="org.archivemanager.util.RepositoryModelEntityBinder">
		<constructor-arg index ="0" ref="entityService" />
	</bean>
	<bean id="entityService" class="org.heed.openapps.neo4j.Neo4jEntityService">
		<constructor-arg index ="0" value="localhost" />
		<constructor-arg index ="1" ref="dictionaryService" />
		<constructor-arg index ="2" ref="cacheService" />
		<!-- property name="hash" value="SHA-1" /-->		
		<!-- 
		<property name="indexingQueue">
			<bean class="org.heed.openapps.entity.service.IndexingWorkQueue">
				<property name="silent" value="false" />
				<property name="threadCount" value="5" />
			</bean>
		</property>
		-->
		<property name="exporters">
			<map>
				<entry key="default" value-ref="defaultEntityExporter" />
				<entry key="openapps_org_system_1_0_permission" value-ref="permissionExporter" />
				<!-- entry key="openapps_org_content_1_0_file" value-ref="digitalObjectExporter" /-->
				<entry key="openapps_org_contact_1_0_address" value-ref="accessionExporter" />
				<entry key="openapps_org_repository_1_0_collection" value-ref="collectionContentExportProcessor" />
				<entry key="openapps_org_repository_1_0_item" value-ref="collectionContentExportProcessor" />
				<entry key="openapps_org_repository_1_0_printed_material" value-ref="collectionContentExportProcessor" />
				<entry key="openapps_org_repository_1_0_artwork" value-ref="collectionContentExportProcessor" />
				<entry key="openapps_org_repository_1_0_audio" value-ref="collectionContentExportProcessor" />
				<entry key="openapps_org_repository_1_0_financial" value-ref="collectionContentExportProcessor" />
				<entry key="openapps_org_repository_1_0_journals" value-ref="collectionContentExportProcessor" />
				<entry key="openapps_org_repository_1_0_legal" value-ref="collectionContentExportProcessor" />
				<entry key="openapps_org_repository_1_0_medical" value-ref="collectionContentExportProcessor" />
				<entry key="openapps_org_repository_1_0_memorabilia" value-ref="collectionContentExportProcessor" />
				<entry key="openapps_org_repository_1_0_miscellaneous" value-ref="collectionContentExportProcessor" />
				<entry key="openapps_org_repository_1_0_notebooks" value-ref="collectionContentExportProcessor" />
				<entry key="openapps_org_repository_1_0_photographs" value-ref="collectionContentExportProcessor" />
				<entry key="openapps_org_repository_1_0_research" value-ref="collectionContentExportProcessor" />
				<entry key="openapps_org_repository_1_0_video" value-ref="collectionContentExportProcessor" />
				<entry key="openapps_org_repository_1_0_scrapbooks" value-ref="collectionContentExportProcessor" />
				<entry key="openapps_org_repository_1_0_professional" value-ref="collectionContentExportProcessor" />
				<entry key="openapps_org_repository_1_0_manuscript" value-ref="collectionContentExportProcessor" />
				<entry key="openapps_org_repository_1_0_correspondence" value-ref="collectionContentExportProcessor" />
			</map>
		</property>
		<property name="importers">
			<map>
				<entry key="default" value-ref="OAXMLCollectionImporter" />
				<entry key="openapps_org_repository_1_0_collection_0" value-ref="textCollectionImporter" />				
				<entry key="openapps_org_repository_1_0_collection_1" value-ref="excelCollectionImporter" />
				<!-- 
				<entry key="openapps_org_repository_1_0_accession" value-ref="filemakerXmlImporter" />
				<entry key="openapps_org_repository_1_0_location" value-ref="excelLocationImporter" />
				<entry key="openapps_org_classification_1_0_entry" value-ref="excelClassificationImporter" />
				<entry key="openapps_org_contact_1_0_contact" value-ref="xmlContactImporter" />
				-->
			</map>
		</property>
		<property name="persistenceListeners">
			<map>
				<entry key="default" value-ref="defaultPersistenceListener" />
				<entry key="openapps_org_crawling_1_0_document" value-ref="documentPersistenceListener" />
			</map>
		</property>				
	</bean>
	
	<bean id="crawlingService" class="org.heed.openapps.crawling.service.StandardCrawlingService" init-method="initialize">
		<property name="entityService" ref="entityService" />
		<property name="propertyService" ref="propertyService" />
		<property name="cacheService" ref="cacheService" />
		<property name="schedulingService" ref="schedulingService" />
		<property name="searchService" ref="searchService" />
	</bean>
	<bean id="digitalObjectService" class="org.heed.openapps.content.service.FileDigitalObjectService">
		<!-- 
		<property name="entityService" ref="entityService" />
		<property name="repository" value="10197" />
		-->
	</bean>
	<bean id="reportingService" class="org.heed.openapps.reporting.jasper.JasperReportingService">
		<property name="propertyService" ref="propertyService" />
		<property name="schedulingService" ref="schedulingService" />
	</bean>
	<bean id="propertyService" class="org.heed.openapps.property.service.OpenAppsPropertyService" init-method="initialize">
		<property name="propertyFile" value="application.properties" />
	</bean>
   	
	<bean id="cacheService" class="org.heed.openapps.ehcache.EhCacheService" init-method="initialize"></bean>
	
	<bean id="schedulingService" class="org.heed.openapps.scheduling.service.OpenAppsSchedulingService">
		<property name="threadCount" value="3" />
	</bean>
	
	<bean id="securityService" class="org.heed.openapps.security.service.OpenAppsSecurityService">
		<property name="entityService" ref="entityService" />
		<property name="cacheService" ref="cacheService" />
		<property name="searchService" ref="searchService" />
	</bean>
	
</beans>