body {
	background-color:#EEEEEE;
	font-family: Arial,Verdana,sans-serif;
}
input { font-size: 28px; padding: 10px; border: 1px solid #CCC; display: block; margin: 20px 0; }

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

.webtop {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    color: #333333;
    float: left;
    padding: 5px 10px 0;
    position: relative;
    width:1200px;
}
.webtop-column {
	width:300px;
	float: left;
}
.webtop-cell {
	width:230px;
	float: left;
	padding: 14px 16px 10px;
	margin:10px 10px 0px 0px;
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    color: #333333;
    display: block;
    font-size: 13px;
}
.section {
	margin:10px;
	height:100%;
	width:100%;
	position: relative;
	float: left;
}
.searchbox {
    background-image:url('/theme/images/searchbar_bg.gif');
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    float: left;
    position: relative;
    width:250px;
    height:30px;
}
#loading {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	margin-left: -100px;
}
.webtop-section {
    background: none repeat scroll 0 0 #FAFBFB;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    color: #333333;
    float: left;
    padding: 14px 16px 10px;
    margin:10px 10px 0px 0px;
    position: relative;
    width: 850px;
}
.webtop h4 {
    font-size: 23px;
    font-weight: 400;
    margin:0 auto;
    padding-top:15px;
    text-align: center;
}
.webtop h3 {
	width:80%;
	height:100%;
    font-size: 15px;
    font-weight: 500;
    margin:0 auto;
    text-align: center;
    line-height:23px;
    padding-bottom:10px;
    color:#718E72;
}

.webtop-links {
	width:270px;
	float:right;
	padding: 14px 16px 10px;
	background-image: url('/theme/images/content-bg.png');
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    color: #333333;
    display: block;
    font-size: 13px;
}
.webtop-link {
	margin:5px 5px 10px 15px;
	font-size:12px;
}
