.cf:before, .cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
}
.cf:before, .cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
}
html[data-useragent*="MSIE"][data-platform*="Win32"] .bannerlabel {
    background: none repeat scroll 0 0 #1C1C1C;
}
html[data-useragent*="MSIE"][data-platform*="Win32"] .splashbox .sign_up.dark {
    background: none repeat scroll 0 0 #111111;
}
html[data-useragent*="MSIE"][data-platform*="Win32"] .button-dark {
    background-color: #363636;
}
html[data-useragent*="MSIE"][data-platform*="Win32"] .header {
}
html[data-useragent*="MSIE"][data-platform*="Win32"] .primary-content .rightcol ul.team li .photo .team-popup {
    background-color: #E6E6E6;
}
html[data-useragent*="MSIE"][data-platform*="Win32"] .dark.sign_up p.shadow {
    display: none;
}
html[data-useragent*="MSIE"][data-platform*="Win32"] .quote-logo-container {
    clear: left;
}
html[data-useragent*="MSIE"][data-platform*="Win32"] .quote-logo-container .logo {
    left: 1px !important;
}
html[data-useragent*="MSIE"][data-platform*="Win32"] footer {
    background-image: none !important;
    border-top: 1px solid #777777 !important;
    position: static;
}
html[data-useragent*="MSIE"][data-platform*="Win32"] .sign_up.box .button {
    margin-top: 0 !important;
}
html[data-useragent*="MSIE"][data-platform*="Win32"] .bannerlabel.label p {
    margin-top: -10px;
}
.cf:before, .cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
}
#signup-form {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    height: auto;
    overflow: hidden;
    padding: 30px 30px 20px;
    text-align: left;
    width: 366px;
}
#signup-form form.submitting, #signup-form form.submitting * {
    cursor: wait !important;
}
#signup-form .left {
    float: left;
    width: 366px;
}
#signup-form h2 {
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E0E0E0 75%, #F0F0F0);
    border-bottom: 1px solid #999999;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 1px 0 #E0E0E0;
    color: #444444;
    font-size: 20px;
    font-weight: 500;
    height: 44px;
    line-height: 44px;
    margin: -30px -30px 30px;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
}
#signup-form.popup {
    border: 1px solid #000000;
    margin-left: -198px;
    margin-top: -178px;
    overflow: visible;
}
#signup-form p.referral-info {
    color: #444444;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}
#signup-form p.notes {
    color: #999999;
    font-size: 12px;
    margin-top: 14px;
    text-align: center;
}
#signup-form p.notes em {
    background: none repeat scroll 0 0 #FFFFAA;
}
#signup-form p.notes a {
    color: #4867AA;
}
#signup-form p.notes a:hover {
    text-decoration: none;
}
#signup-form p.notes a .triangle {
    font-size: 9px;
    line-height: 12px;
}
form.new_account input.text {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F7F7F7;
    border-color: #777777 #999999 #999999;
    border-radius: 5px 5px 5px 5px;
    border-right: 1px solid #999999;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
    font-size: 16px;
    font-weight: normal;
    height: 42px;
    line-height: 1em;
    margin-bottom: 10px;
    padding: 0 10px;
    position: relative;
    width: 345px;
}
.ie6 form.new_account input.text, .ie7 form.new_account input.text, .ie8 form.new_account input.text, .ie9 form.new_account input.text {
    line-height: 42px;
}
form.new_account input.error {
    background: none repeat scroll 0 0 #FFE6E6;
    border: 1px solid #D20000;
    color: red;
}
form.new_account input.email.unavailable {
    background: url("http://sitestatic.getflow.com/1334093981/images/input-email-unavailable.png") no-repeat scroll 214px center #FFE6E6;
    border: 1px solid #D20000;
    color: red;
}
form.new_account input.signup, form.new_account input.signup[disabled]:active {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: color 0.2s linear 0s;
    background: -moz-linear-gradient(center top , #FFAA6E 0%, #F87015 50%, #E45F07 50%, #DA5700 100%) repeat scroll 0 0 #E45F07;
    border-color: #545556 #3C3C3E #1C1C1D;
    border-left: 1px solid #3C3C3E;
    border-radius: 5px 5px 5px 5px;
    border-right: 1px solid #3C3C3E;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4), 0 5px 3px 0.5px rgba(0, 0, 0, 0.1), 0 1px 0 #FFCF86 inset, 0 -1px 0 #F26000 inset, 1px 0 0 #FF7C17 inset, -1px 0 0 #FF7C17 inset;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "helvetica neue",helvetica,sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 44px;
    line-height: 39px;
    margin: 0;
    padding: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5), 0 0 1px rgba(0, 0, 0, 0.5);
    width: 366px;
}
form.new_account input.signup[disabled] {
    color: #9A4F00 !important;
    cursor: default;
    text-shadow: 0 1px 0 #FEA84D !important;
}
html[data-useragent*="Firefox"][data-platform*="Mac"] form.new_account input.signup {
    font-weight: normal;
}
form.new_account input.signup:active {
    background-image: -moz-linear-gradient(center top , #DA5700 0%, #FFAA6E 100%);
}
body.standalone-signup {
    background: url("http://sitestatic.getflow.com/1334093981/images/masthead-shelf.png") no-repeat scroll center 145px #FFFFFF;
    color: #333333;
    font-family: "helvetica neue",helvetica,arial;
    font-size: 16px;
}
.standalone-signup .content {
    margin-top: 47px;
}
form.new_account .text-input-wrap {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F7F7F7;
    border-color: #777777 #999999 #999999;
    border-radius: 4px 4px 4px 4px;
    border-right: 1px solid #999999;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4) inset, 0 1px 0 #FFFFFF;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
    position: relative;
}
form.new_account .text-input-wrap input.text {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    box-shadow: none;
    display: block;
    font-size: 20px;
    left: 0;
    margin-bottom: 0;
    outline: medium none;
    padding: 0 10px;
    top: 0;
}
form.new_account .text-input-wrap label {
    -moz-transition: opacity 0.1s linear 0s;
    color: #999999;
    font-size: 21px;
    height: 42px;
    left: 0;
    line-height: 42px;
    padding-left: 10px;
    position: absolute;
}
form.new_account .text-input-wrap.focused label {
    opacity: 0.5;
}
.no-opacity form.new_account .text-input-wrap.focused label {
    color: #DDDDDD;
}
form.new_account .text-input-wrap.focused {
    background: none repeat scroll 0 0 #FEFFEE !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset, 0 0 5px #43BFE3;
}
form.new_account .text-input-wrap.filled label {
    opacity: 0;
}
.no-opacity form.new_account .text-input-wrap.filled label {
    display: none;
}
.no-boxshadow .pricing-info-box .box {
    border-bottom: 2px solid #7C964F;
}
.fancybox-tmp iframe, .fancybox-tmp object {
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.fancybox-wrap {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1002;
}
.fancybox-outer {
    background: none repeat scroll 0 0 #F9F9F9;
    border-radius: 6px 6px 6px 6px;
    color: #444444;
    margin: 0;
    padding: 0;
    text-shadow: none;
}
.fancybox-opened {
    z-index: 1003;
}
.fancybox-opened .fancybox-outer {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.fancybox-inner {
    height: 100%;
    margin: 0;
    outline: medium none;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.fancybox-error {
    color: #444444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 10px;
}
.fancybox-image, .fancybox-iframe {
    border: 0 none;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 100%;
}
.fancybox-image {
    max-height: 100%;
    max-width: 100%;
}
#fancybox-loading {
    background: url("../images/fancybox/fancybox_loading.gif") repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 42px;
    left: 50%;
    margin-left: -21px;
    margin-top: -21px;
    opacity: 0.8;
    position: fixed;
    top: 50%;
    width: 42px;
    z-index: 1010;
}
.fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("../images/fancybox/fancybox_sprite.png");
}
.fancybox-close {
    cursor: pointer;
    height: 36px;
    left: -18px;
    position: absolute;
    top: -18px;
    width: 36px;
    z-index: 1004;
}
.fancybox-prev, .fancybox-next {
    background: url("../images/fancybox/blank.gif") repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 100%;
    position: absolute;
    top: 0;
    width: 40%;
    z-index: 1003;
}
.fancybox-prev {
    left: 0;
}
.fancybox-next {
    right: 0;
}
.fancybox-prev span, .fancybox-next span {
    cursor: pointer;
    height: 36px;
    left: -9999px;
    margin-top: -18px;
    position: absolute;
    top: 50%;
    width: 36px;
    z-index: 1003;
}
.fancybox-prev span {
    background-position: 0 -36px;
}
.fancybox-next span {
    background-position: 0 -72px;
}
.fancybox-prev:hover, .fancybox-next:hover {
    visibility: visible;
}
.fancybox-prev:hover span {
    left: 20px;
}
.fancybox-next:hover span {
    left: auto;
    right: 20px;
}
.fancybox-tmp {
    left: -9999px;
    overflow: visible;
    padding: 0;
    position: absolute;
    top: -9999px;
    visibility: hidden;
}
#fancybox-overlay {
    background: none repeat scroll 0 0 #000000;
    display: none;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1001;
}
.fancybox-title {
    font: 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    visibility: hidden;
    z-index: 1005;
}
.fancybox-opened .fancybox-title {
    visibility: visible;
}
.fancybox-title-float-wrap {
    bottom: 0;
    margin-bottom: -35px;
    position: absolute;
    right: 50%;
    text-align: center;
    z-index: 1003;
}
.fancybox-title-float-wrap .child {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border-radius: 15px 15px 15px 15px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    line-height: 24px;
    margin-right: -100%;
    padding: 2px 20px;
    text-shadow: 0 1px 2px #222222;
    white-space: nowrap;
}
.fancybox-title-outside-wrap {
    color: #FFFFFF;
    margin-top: 10px;
    position: relative;
}
.fancybox-title-inside-wrap {
    margin-top: 10px;
}
.fancybox-title-over-wrap {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    bottom: 0;
    color: #FFFFFF;
    left: 0;
    padding: 10px;
    position: absolute;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none outside none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
}
q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: none;
}
a img {
    border: medium none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}
.cf:before, .cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
}
html, body, #main-wrap {
    height: 100%;
}
body {
    color: #777777;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    min-width: 1000px;
}
.container {
    margin: 0 auto;
    text-align: center;
    width: 980px;
}
.sfooter-wrap {
    min-height: 100%;
}
.sfooter-main {
    overflow: auto;
    padding-bottom: 61px;
}
a {
    color: #4867AA;
    text-decoration: none;
}
a:hover {
    color: #0969F7;
    text-decoration: underline;
}
#page-header {
    margin-top: 29px;
    padding-bottom: 41px;
}
#page-header h1 {
    color: #000000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    text-align: center;
}
#page-header h2 {
    color: #999999;
    font-size: 25px;
    font-weight: 200;
    margin-top: -4px;
    text-align: center;
}
.masthead div.tagline {
    color: #000000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    text-align: center;
}
.feature-bar {
    height: 85px;
    margin: 0 auto;
    padding: 0 0 30px;
    text-align: left;
    width: 980px;
}
.feature-bar li {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 245px;
}
.feature-bar li.last .button.bar {
    border-radius: 0 4px 4px 0;
    border-right: 1px solid #AAAAAA;
    box-shadow: 0 1px 0 #E7E7E7, -1px 0 0 0 rgba(255, 255, 255, 0.5) inset;
}
.feature-bar li:first-child .button.bar {
    border-radius: 4px 0 0 4px;
}
.feature-bar li a {
    color: #444444;
    height: 85px;
    text-align: left;
    width: 100%;
}
.feature-bar li a:hover, .feature-bar li a:active {
    color: #444444;
}
.feature-bar li a:hover .icon, .feature-bar li a:active .icon {
    opacity: 0.8;
}
.feature-bar li a:hover .text h4, .feature-bar li a:active .text h4 {
    color: #111111;
}
.feature-bar li a:hover .text p, .feature-bar li a:active .text p {
    color: #555555;
}
.feature-bar li a.button.bar {
    border-radius: 0 0 0 0;
    border-right: medium none;
    box-shadow: 0 1px 0 #E7E7E7, -1px 0 0 0 #FFFFFF inset;
    z-index: 100;
}
.feature-bar li a.button.bar:active {
    box-shadow: 0 1px 0 #E7E7E7, 0 1px 6px #777777 inset;
}
.feature-bar li a .text {
    margin: 13px 5px 13px 56px;
    width: 183px;
}
.feature-bar li a .text h4 {
    font-size: 15px;
    padding-bottom: 8px;
}
.feature-bar li a .text p {
    color: #777777;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
}
.feature-bar li .icon {
    height: 30px;
    left: 12px;
    opacity: 0.5;
    position: absolute;
    top: 12px;
    width: 30px;
}
input {
    color: #242424;
}
input:focus, select:focus, textarea:focus {
    border-color: #2BA6CC !important;
    outline: medium none;
}
.button {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    background-color: #E9E9E9;
    background-image: -moz-linear-gradient(center top , #FFFFFF 0%, #F7F7F7 50%, #E9E9E9 50%, #F0F0F0 80%, #F7F7F7 100%);
    background-size: 100% auto;
    border-color: #AAAAAA #AAAAAA #999999;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #E7E7E7;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
}
.button[type="submit"] {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}
.button:hover {
    background-image: -moz-linear-gradient(center top , #FFFFFF 0%, #FFFFFF 50%, #F0F0F0 50%, #F0F0F0 80%, #F7F7F7 100%);
    background-size: 100% auto;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
.button:active {
    background-color: #BBBBBB;
    background-image: -moz-linear-gradient(center top , #BBBBBB, #F0F0F0);
    background-size: 100% auto;
    border-color: #888888 #999999 #999999;
    box-shadow: 0 1px 3px #999999 inset;
}
.button.green {
    background-color: #98CA40;
    background-image: -moz-linear-gradient(center top , #A7D34D 0%, #8FC538 20%, #7AB82B 50%, #69AB25 50%, #579E1F 80%, #4E941C 100%);
    background-size: 100% auto;
    border-color: #516526 #516526 #203E08;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 4px rgba(0, 0, 0, 0.35);
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.button.green:active {
    background-image: -moz-linear-gradient(center top , #4B9608 0%, #A5D33F 100%);
    background-size: 100% auto;
}
.button.orange {
    background-color: #E56007;
    background-image: -moz-linear-gradient(center top , #FFC196 0%, #FFAA6E 20%, #F87015 50%, #E56007 50%, #DA5700 80%, #FF6600 100%);
    background-size: 100% auto;
    border-color: #A54D10 #A54D10 #471F02;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 0 rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.button.orange.nav-signup {
    border: medium none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 0 1px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.75);
}
.button.orange:hover {
    background-image: -moz-linear-gradient(center top , #FFDCC3 0%, #FFAA6E 20%, #F87015 50%, #E56007 50%, #DA5700 80%, #FF6600 100%);
    background-size: 100% auto;
}
.button.orange:active {
    background: -moz-linear-gradient(center top , #7F3300, #DB5800) repeat scroll 0 0 #7F3300;
    border-color: #4C1F00;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}
.button.blue {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #8DCDFF 0%, #2A90FF 50%, #0E72FB 50%, #0057F0 80%, #2A90FF 100%) repeat scroll 0 0 #2A90FF;
    border-color: #0052E2 #0052E2 #000000;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 1px rgba(0, 0, 0, 0.45);
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.button.blue:hover {
    background: -moz-linear-gradient(center top , #A9D9FF 0%, #2A90FF 50%, #0E72FB 50%, #0057F0 80%, #2A90FF 100%) repeat scroll 0 0 #2A90FF;
}
.button.blue:active {
    background: -moz-linear-gradient(center top , #003592 0%, #0057F0 100%) repeat scroll 0 0 #0057F0;
    border-color: #000000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset;
}
.button-dark {
    background: -moz-linear-gradient(center top , rgba(120, 120, 120, 0.5) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.9)) repeat scroll 0 0 transparent;
    border: 3px solid rgba(255, 255, 255, 0.9);
    border-radius: 100px 100px 100px 100px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 0 15px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 1px 2px #000000;
}
.button-dark:hover {
    -moz-transition: all 0.2s ease-in 0s;
    background: -moz-linear-gradient(center top , #5CB7FE, #015EE6) repeat scroll 0 0 transparent;
    cursor: pointer;
}
.button-dark:active {
    background: -moz-linear-gradient(center top , #013786, #015EE6) repeat scroll 0 0 transparent;
}
.no-cssgradients .header {
    background: none repeat scroll 0 0 #5774AB;
}
.header {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    background-image: -moz-linear-gradient(center top , rgba(95, 129, 184, 0.9), rgba(37, 64, 116, 0.9) 80%, rgba(42, 72, 132, 0.9));
    background-size: 100% auto;
    border-color: #05173A -moz-use-text-color;
    border-style: solid none;
    border-width: 1px 0;
    box-shadow: 0 -1px 0 rgba(83, 141, 255, 0.75) inset, 0 1px 0 rgba(168, 197, 255, 0.65) inset, 0 1px 2px rgba(0, 0, 0, 0.45);
    height: 50px;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.header .container {
    margin: 0 auto;
    width: 980px;
}
.header h2 {
    display: block;
    float: left;
}
.header h2 a {
    background: url("../images/header-logo.png") no-repeat scroll left center transparent;
    display: inline-block;
    height: 25px;
    padding: 15px 0 11px;
    text-indent: -99999em;
    width: 95px;
}
.header nav {
    float: right;
    list-style: none outside none;
    margin: 12px 0 0;
}
.header nav li {
    float: left;
}
.header nav li a {
    color: #FFFFFF;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    line-height: 24px;
    padding: 0 13px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #172338;
}
html[data-useragent*="Firefox"][data-platform*="Mac"] .header nav li a {
    font-weight: normal;
}
section {
    background: url("http://sitestatic.getflow.com/1334093981/images/divider-980.png") no-repeat scroll center top transparent;
    margin: 0 auto 30px;
    padding: 30px 0 0;
    text-align: left;
    width: 980px;
}
section.no-divider {
    background-image: none;
}
section.first {
    background: none repeat scroll 0 0 transparent;
}
section h2 {
    color: #222222;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 30px;
    padding: 0;
    text-align: left;
}
section h2 + h3 {
    margin-top: -24px;
}
section h3 {
    color: #999999;
    font-size: 18px;
    font-weight: 200;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}
section h4, section h3, section h2 {
    color: #444444;
    font-size: 16px;
    font-weight: bold;
    margin: 6px 0 8px;
    padding: 0;
    text-align: left;
}
section h4:first-child, section h3:first-child, section h2:first-child {
    margin-top: 0;
}
section h2 {
    font-size: 18px;
}
section p, section li {
    line-height: 1.6em;
}
section li.intro p {
    font-size: 16px;
}
section ul.columns:after {
    clear: both;
    content: "";
    display: block;
}
section ul.columns > li {
    float: left;
    margin: 0 30px 30px 0;
}
section ul.columns.two > li {
    width: 475px;
}
section ul.columns.two > li:nth-child(2n) {
    margin-right: 0;
}
section ul.columns.two .thumbnail {
    width: 475px;
}
section ul.columns.three > li {
    width: 306px;
}
section ul.columns.three > li:nth-child(3n) {
    margin-right: 0;
}
section ul.columns.three .thumbnail {
    width: 306px;
}
section ul.columns.four > li {
    width: 222px;
}
section ul.columns.four > li:nth-child(4n), section ul.columns.four > li:last-child, section ul.columns.four > li.last {
    margin-right: 0;
}
section ul.columns.four .thumbnail {
    width: 222px;
}
section ul.columns h2 {
    color: #444444;
    font-weight: bold;
    margin: 0 0 14px;
    text-align: left;
}
.box {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F5F5F5);
    background-size: 100% auto;
    border-color: #BBBBBB #BBBBBB #999999;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px #CCCCCC;
}
.box.sign_up {
    background-image: -moz-linear-gradient(center top , #FFFFFF, #FFFFFF 50%, #E7E7E7);
    background-size: 100% auto;
    height: 70px;
    line-height: 70px;
    margin: 0 auto 20px;
    text-align: center;
    width: 980px;
}
.box.sign_up + section {
    margin-top: 60px;
}
.box.sign_up p {
    display: inline-block;
    font-size: 24px;
    font-weight: 200;
    line-height: 70px;
}
.box.sign_up .button {
    display: inline;
    font-size: 18px;
    height: 36px;
    line-height: 36px;
    margin: 0 20px;
    padding: 7px 20px;
    position: relative;
}
.box.dark {
    background: none repeat scroll 0 0 transparent;
    border-radius: 5px 5px 5px 5px;
}
.box.dark.sign_up {
    background-image: -moz-linear-gradient(center top , rgba(92, 92, 92, 0.9), rgba(0, 0, 0, 0.9) 75%, rgba(52, 52, 52, 0.9));
    background-size: 100% auto;
    border: 1px solid #000000;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset, 0 -5px 13px 0 rgba(0, 0, 0, 0.3) inset;
    position: relative;
}
.box.dark.sign_up .button {
    border: medium none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.75), 0 1px 0 0 rgba(255, 255, 255, 0.4) inset, 0 -1px 1px 0 rgba(255, 60, 0, 0.7) inset, 0 0 0 1px rgba(255, 255, 255, 0.4) inset, 0 1px 0 rgba(0, 0, 0, 0.25), 0 0 8px 0 rgba(0, 0, 0, 0.5);
}
.box.dark.sign_up .button:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.75), 0 1px 5px rgba(0, 0, 0, 0.75) inset;
}
.box.dark.sign_up p {
    color: #FFFFFF;
    font-weight: 400;
    line-height: 68px;
    z-index: 120;
}
.box.dark.sign_up p.shadow {
    background: none repeat scroll 0 0 transparent;
    position: absolute;
    text-shadow: 0 1px 4px #000000;
    z-index: -20;
}
html[data-useragent*="Firefox"][data-platform*="Mac"] .box.sign_up.dark p {
    font-weight: 100;
    letter-spacing: 1px;
}
html[data-useragent*="Firefox"][data-platform*="Mac"] .box.sign_up .button {
    font-weight: 400;
}
.no-cssgradients .box.dark {
    background: none repeat scroll 0 0 #4C4C4C;
}
.thumbnail {
    -moz-user-select: none;
    background: none repeat scroll 0 0 #000000;
    border-radius: 5px 5px 5px 5px;
    margin: 0 0 15px;
    position: relative;
}
.thumbnail a {
    cursor: -moz-zoom-in;
    display: block;
    margin-bottom: 1px;
    position: relative;
}
.thumbnail a:active {
    margin-bottom: 0 !important;
    margin-top: 1px;
}
.thumbnail a img:hover {
    opacity: 0.85;
}
.thumbnail a:after, .thumbnail.nolink:after {
    background: none repeat scroll 0 0 transparent;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 1px 0 0 rgba(0, 0, 0, 0.15);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.thumbnail img {
    -moz-transition: opacity 0.1s ease-in 0s;
    border-radius: 4px 4px 4px 4px;
    display: block;
    max-width: 100%;
}
.thumbnail .zoom_icon {
    border-width: 2px;
    bottom: -10px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: -moz-zoom-in;
    height: 22px;
    position: absolute;
    right: -10px;
    width: 22px;
}
.thumbnail .zoom_icon span {
    background: url("../images/icon-zoom.png") no-repeat scroll left top transparent;
    display: block;
    height: 19px;
    margin: 1px 0 0 2px;
    overflow: hidden;
    text-indent: 9999px;
    width: 18px;
}
footer {
    background-color: #E7E7E7;
    background-image: -moz-linear-gradient(center top , #FAFAFA, #F8F8F8);
    background-size: 100% auto;
    border-top: 1px solid #CDCDCD;
    box-shadow: 0 1px 0 #EBEBEB inset;
    margin-top: -61px;
    position: relative;
}
footer .footer-content {
    clear: both;
    height: 37px;
    margin: 0 auto;
    padding: 16px 0 7px;
    position: relative;
    text-align: center;
    width: 980px;
}
footer .branding {
    background: url("http://sitestatic.getflow.com/1334093981/images/madebymetalab.png") no-repeat scroll left top transparent;
    float: left;
    height: 36px;
    margin-top: -3px;
    width: 169px;
}
footer ul {
    float: right;
    height: 30px;
    overflow: hidden;
}
footer ul li {
    display: inline-block;
    float: left;
    line-height: 27px;
    padding: 0 3px 0 0;
}
footer ul li a {
    color: #777777;
    font-size: 12px;
    text-shadow: 0 1px 0 #FFFFFF;
}
footer ul li a.icon {
    display: block;
    height: 25px;
    padding: 0;
    text-indent: -9999em;
    width: 25px;
}
footer ul li:after {
    content: "/";
    padding: 0 5px;
}
footer ul li.noslash:after {
    content: "";
    padding: 0;
}
footer ul li.icon {
    -moz-user-select: none;
    cursor: pointer;
    padding-left: 10px;
    text-decoration: none;
}
footer ul li.icon a {
    opacity: 0.5;
}
footer ul li.icon a:hover, footer ul li.icon a:active {
    opacity: 0.7;
    text-decoration: none;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}
.sfooter-wrap {
    min-height: 100%;
}
.sfooter-main {
    overflow: auto;
    padding-bottom: 61px;
}
.header nav li.active a, .header nav li a.active, body.tour .header nav li a.tour, body.pricing .header nav li a.pricing, body.stories .header nav li a.stories, body.about .header nav li a.about, body.about-pages .header nav li a.about, body.blog .header nav li a.blog, body.support .header nav li a.support, body.login .header nav li a.login {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #2F4267;
    background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 100% auto;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75) inset, 0 1px 0 rgba(255, 255, 255, 0.15);
    text-shadow: 0 1px 0 #000000;
}
.no-boxshadow .header nav li.active a {
    border-bottom: 1px solid #3B5C9A;
    border-top: 1px solid #2E3E5C;
    margin-top: -1px;
}
.header nav li.signup {
    margin-top: -2px;
}
.header nav li a.button.orange {
    display: block;
    height: 27px;
    line-height: 25px;
    margin-left: 16px;
    padding: 0 12px;
}
.header nav li.signup a:hover {
    background-position: left center;
}
.header nav li.signup a:active {
    background-position: left bottom;
}
#video-popup {
    background: none repeat scroll 0 0 #FFFFFF;
    overflow: hidden;
    padding: 8px 8px 0;
}
#page_title {
    background: url("../images/background-lines.png") repeat-x scroll left bottom #FFFFFF;
    border-bottom: 1px solid #AAAAAA;
    box-shadow: 0 1px 1px #CCCCCC;
    height: 120px;
    text-align: center;
    width: 100%;
}
#page_title h1 {
    color: #222222;
    font-size: 32px;
    font-weight: bold;
    padding: 27px 0 7px;
}
#page_title p {
    color: #999999;
    font-size: 18px;
    font-weight: 200;
}
#page_title .divider {
    background: none repeat scroll 0 0 #E7E7E7;
    display: none;
    height: 1px;
    margin: 5px auto 10px;
    width: 230px;
}
.popup {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    left: 50%;
    position: fixed;
    top: 50%;
    visibility: hidden;
    z-index: 10000;
}
.popup-wrap.iphone .popup {
    left: 500px;
    position: absolute;
    top: 400px;
}
.popup-wrap .underlay {
    -moz-transition: opacity 0.15s linear 0s;
    background: none repeat scroll 0 0 #000000;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 500;
}
.popup-wrap.open .underlay {
    opacity: 0.5;
    visibility: visible;
    z-index: 1001;
}
.popup-wrap.open .popup {
    visibility: visible;
}
.popup-wrap.open.iphone .underlay {
    display: none;
}
.csstransforms.no-csstransforms3d .signup-form-wrap.open .popup {
    -moz-animation-duration: 0.25s;
    -moz-animation-name: slideDownFade;
    visibility: visible;
}
.csstransforms3d .signup-form-wrap.open .popup {
    -moz-animation-duration: 0.25s;
    -moz-animation-name: slideDownFade;
    visibility: visible;
}
.no-csstransforms3d.no-csstransforms.csstransitions .signup-form-wrap.open .popup {
    visibility: visible;
}
.no-csstransforms3d.no-csstransforms.no-csstransitions .signup-form-wrap.open .popup {
    visibility: visible;
}
.popup a.close-popup {
    background: url("http://sitestatic.getflow.com/1334093981/images/close-popup.png") no-repeat scroll left top transparent;
    cursor: pointer;
    display: block;
    height: 32px;
    left: -15px;
    position: absolute;
    text-indent: -9999em;
    top: -12px;
    width: 32px;
}
.popup-wrap.unsub .popup {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px 5px 5px 5px;
    color: #666666;
    font-size: 14px;
    margin-left: -238px;
    margin-top: -35px;
    padding: 17px;
    width: 440px;
}
.popup-wrap.unsub .popup h4 {
    color: #333333;
    font-size: 16px;
    margin-bottom: 0.35em;
}
.popup-wrap.unsub .popup .content {
    padding-left: 58px;
}
.social-foot {
    height: 48px;
    margin-top: 10px;
    position: relative;
    text-align: center;
    width: 100%;
}
.social-foot .social-item {
    display: inline-block;
    height: auto;
    margin-left: 20px;
    overflow: hidden;
    padding-bottom: 5px;
    position: relative;
}
.social-foot .social-item.follow {
    width: 160px;
}
.social-foot .social-item.plusone {
    width: 70px;
}
.social-foot .social-item.like {
    top: 1px;
    width: 85px;
}
.social-foot .social-item:first-child {
    margin-left: 0;
}
body.loading .social-foot, .transitioning .social-foot {
    opacity: 0;
}
html[data-useragent*="Firefox"][data-platform*="Mac"] .box.sign_up.dark p {
    font-weight: 100;
    letter-spacing: 1px;
}
html[data-useragent*="Firefox"][data-platform*="Mac"] .box.sign_up .button {
    font-weight: 400;
}
html[data-useragent*="Firefox"][data-platform*="Mac"] .story-box .label.bannerlabel h5 {
    font-weight: 200;
}
html[data-useragent*="Firefox"][data-platform*="Mac"] .story-box .label.bannerlabel h5 .company {
    font-weight: 400;
}
html[data-useragent*="Firefox"][data-platform*="Mac"] .story-box .label.bannerlabel a {
    font-weight: 200;
}
.linen-bin {
    -moz-user-select: none;
    background: url("http://sitestatic.getflow.com/1334093981/images/bluelinen.jpg") repeat scroll center center #293146;
    box-shadow: 0 -5px 7px 0 rgba(0, 0, 0, 0.5) inset;
    height: 78px;
    min-width: 980px;
    padding: 77px 0 15px;
}
.linen-bin .linen-content {
    margin: 0 auto;
    padding: 0 70px;
    position: relative;
    text-align: center;
    width: 840px;
}
.linen-bin .linen-content .pointer-arrow {
    -moz-transition-duration: 0.15s;
    -moz-transition-property: left;
    -moz-transition-timing-function: ease-in-out;
    -moz-user-select: none;
    background: url("http://sitestatic.getflow.com/1334093981/images/pointer-arrow.png") no-repeat scroll center top transparent;
    bottom: -46px;
    height: 15px;
    left: 468px;
    position: absolute;
    width: 41px;
    z-index: 100;
}
.linen-bin .linen-content a:hover, .linen-bin .linen-content a:active {
    text-decoration: none;
}
.linen-bin .linen-content h1 {
    color: #FFFFFF;
    display: inline-block;
    font-size: 36px;
    font-weight: 600;
    padding-top: 15px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7), 0 1px 6px rgba(0, 0, 0, 0.7);
}
.linen-bin .linen-content h1 .strikethrough {
    color: #A5ADC1;
    font-weight: 200;
}
.linen-bin .linen-content ul {
    float: right;
    position: relative;
}
.linen-bin .linen-content ul.two li {
    margin-left: 30px;
}
.linen-bin .linen-content ul.three li {
    margin-left: 15px;
}
.linen-bin .linen-content ul li:first-child {
    margin-left: 0;
}
.linen-bin .linen-content ul:first-child {
    float: left;
}
.linen-bin .linen-content ul li {
    -moz-transition: opacity 0.06s linear 0.01s;
    display: inline-block;
    position: relative;
}
.linen-bin .linen-content ul li:hover {
    opacity: 0.9;
}
.linen-bin .linen-content ul li:active {
    top: 2px;
}
.linen-bin .linen-content ul li a {
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    opacity: 0.3;
    text-align: center;
    text-shadow: 0 0 3px #000000, 0 1px 6px #000000;
    width: 70px;
}
.linen-bin .linen-content ul li a:hover, .linen-bin .linen-content ul li a:active {
    opacity: 0.9;
    text-decoration: none;
}
.linen-bin .linen-content ul li a span {
    display: block;
    height: 55px;
    margin: 0 auto;
    width: 55px;
}
.hidden-wrapper {
    display: none !important;
}
.hidden-wrapper #data {
    overflow: hidden;
}
.modal {
    border: 1px solid #7E7E7E;
    border-radius: 5px 5px 5px 5px;
    margin: 0 auto;
    overflow: hidden;
}
.modal .modal-head {
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F0F0F0);
    background-size: 100% auto;
    padding: 18px 0 15px;
    text-align: center;
}
.modal .modal-head h4 {
    color: #333333;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
.modal .modal-head h5 {
    color: #999999;
    font-size: 14px;
    font-weight: 600;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
.modal .modal-body {
    background-color: #FFFFFF;
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    height: 413px;
    letter-spacing: 0.05em;
    line-height: 25px;
    overflow-y: scroll;
    padding: 15px 20px 0;
}
.modal .modal-body p {
    margin-bottom: 20px;
}
.modal .modal-foot {
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F7F7F7 50%, #ECECEC 50%, #EEEEEE);
    background-size: 100% auto;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    height: 35px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
.modal .modal-foot:active {
    background-image: -moz-linear-gradient(center top , #BBBBBB, #F0F0F0);
    background-size: 100% auto;
    border-color: #999999;
    box-shadow: 0 1px 3px #999999 inset, 0 0 8px 0 rgba(0, 0, 0, 0.5);
}
.modal .modal-foot a {
    -moz-transition: all 0.06s linear 0.01s;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    opacity: 0.6;
    padding-top: 6px;
    position: relative;
    width: 400px;
}
.modal .modal-foot a:hover, .modal .modal-foot a:active {
    color: #222222;
    opacity: 1;
    text-decoration: none;
}
.modal .modal-foot a p {
    display: inline-block;
    position: relative;
    top: -6px;
}
.modal .modal-foot a .icon {
    background: url("http://sitestatic.getflow.com/1334093981/images/modal-download.png") no-repeat scroll center center transparent;
    display: inline-block;
    height: 22px;
    margin-right: 7px;
    width: 21px;
}
.lin-icon-sprite, .lin-icon-activity, .lin-icon-contact, .lin-icon-email, .lin-icon-facebook, .lin-icon-gplus, .lin-icon-iphone, .lin-icon-mac, .lin-icon-press, .lin-icon-subscribe, .lin-icon-tasks, .lin-icon-teams, .lin-icon-twitter {
    background: url("http://sitestatic.getflow.com/1334093981/images/lin-icon-sd2ae6a3e1a.png") no-repeat scroll 0 0 transparent;
}
.lin-icon-activity {
    background-position: 0 0;
}
.lin-icon-contact {
    background-position: 0 -55px;
}
.lin-icon-email {
    background-position: 0 -110px;
}
.lin-icon-facebook {
    background-position: 0 -165px;
}
.lin-icon-gplus {
    background-position: 0 -220px;
}
.lin-icon-iphone {
    background-position: 0 -275px;
}
.lin-icon-mac {
    background-position: 0 -330px;
}
.lin-icon-press {
    background-position: 0 -385px;
}
.lin-icon-subscribe {
    background-position: 0 -440px;
}
.lin-icon-tasks {
    background-position: 0 -495px;
}
.lin-icon-teams {
    background-position: 0 -550px;
}
.lin-icon-twitter {
    background-position: 0 -605px;
}
.presslogos-sprite, .presslogos-daringfireball, .presslogos-techcrunch, .presslogos-thenextweb {
    background: url("http://sitestatic.getflow.com/1334093981/images/presslogos-s68e2e8f31f.png") no-repeat scroll 0 0 transparent;
}
.presslogos-daringfireball {
    background-position: 0 0;
}
.presslogos-techcrunch {
    background-position: 0 -52px;
}
.presslogos-thenextweb {
    background-position: 0 -104px;
}
.icons-social-sprite, .icons-social-facebook, .icons-social-gplus, .icons-social-twitter {
    background: url("http://sitestatic.getflow.com/1334093981/images/icons-social-s3012f62103.png") no-repeat scroll 0 0 transparent;
}
.icons-social-facebook {
    background-position: 0 0;
}
.icons-social-gplus {
    background-position: 0 -26px;
}
.icons-social-twitter {
    background-position: 0 -52px;
}
