td{padding:5px;}
.container{}
.navbar-header{width:100%;}
.form-group{float:left;}
.btn-primary{margin-top:25px;margin-left:10px;}
.processor-select{margin-top:25px;margin-left:5px;}
.spinner{width:40px;margin-top:22px;margin-left:5px;float:left;display:none;}

.screen{padding:5px 15px;text-align:left;}
.form-row{margin-bottom:12px;width:99%;min-height:52px;}
.form-row-col1{float:left;width:48%;}
.form-row-col2{float:right;width:48%;}
.loader {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background:100% 100% no-repeat rgb(249,249,249);opacity:1.0;}

.icon-collection{background:url('../../images/apps/icons/collection.png') no-repeat center center;}

/*easyui overrides*/
.panel-tool{width:96%;}
.layout-button-left{float:right;}
.window .window-header .panel-tool{text-align:right;}
.accordion .accordion-header-selected{background:#f5f5f5;}
.accordion .accordion-header-selected .panel-title{color:#000000;}
.datagrid-row-selected {background:#f5f5f5;font-weight:bold;color:#000000;}
.tree-node-selected {background:#f5f5f5;color:#000000;font-weight:bold;}

/*font-awesome overrides */
.btn-primary{margin-top: 0px;}